/* Adds buffer space between game-info and filter button */
.game-info {
    margin-top: 20px; /* Adds space below the filter */
    display: flex;
    flex-direction: column;
    height: 50vh; /* Sets it to occupy half the page height */
}

/* Split info-top into 1/3 on the left for game-stats and 2/3 on the right for game-image */
.info-top {
    display: flex;
    flex-direction: row; /* Aligns elements horizontally */
    height: 100%;
    width: 100%;
}

/* Game stats on the left (1/3 of width) */
.game-stats {
    flex: 1; /* Takes up 1 part */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

/* Game image on the right (2/3 of width) */
.game-image {
    flex: 2; /* Takes up 2 parts */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
}


/* Bottom section taking up 1/4 of game-info */
.info-bottom {
    flex: 1;
    margin-top: 20px; /* Adjust this value as needed for spacing */
}

/* Game reviews section */
.game-reviews {
    margin-top: 20px; /* Adds spacing below the game-info section */
}

